@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modak font */
@import url("https://fonts.googleapis.com/css2?family=Modak");

:root {
    /* Colors */
    --color-secondary: #9a7bcc;

    /* Highlights */
    --color-hprimary: #201c35;
    --color-hsecondary: #00f0b5;
}

@layer base {
    /* Colors */
    .color-primary {
        color: "#fd6a35";
        background-color: "#ebece9";
    }

    .color-secondary {
        color: "#ebece9";
        background-color: "#fd6a35";
    }
}

body {
    padding: 0;
    margin: 0;
}
