// Colors
$color-bg: #ebece9;
$color-primary: #fd6a35;
$color-secondary: #9a7bcc;

// Highlights
$color-hprimary: #201c35;
$color-hsecondary: #00f0b5;

body {
    background-color: $color-bg;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
